@model desafio_mvc.DTO.CategoriaDTO
@{
    Layout = "_LayoutAdmin";
}
<h1>Criar categoria</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form class="form-horizontal" asp-area="Admin" asp-action="Create" asp-controller="AdminCategorias" method="POST">
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input type="text" asp-for="Nome" class="form-control" placeholder="Nome da categoria"/>
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" placeholder="Descrição da categoria"/>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>