<ul class="sidebar-menu" data-widget="tree">
<li class="header">Menu</li>
<!-- Optionally, you can add icons to the links -->
<li ><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> <span>Pagina Inicial</span></a></li>
<li ><a asp-area="Admin" asp-controller="Admin" asp-action="Index"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
<li ><a asp-area="Admin" asp-controller="AdminCategorias" asp-action="Index"><i class="fa fa-tags"></i> <span>Categorias</span></a></li>
<li ><a asp-area="Admin" asp-controller="AdminIngredientes" asp-action="Index"><i class="fa fa-shopping-basket"></i> <span>Ingredientes</span></a></li>
<li ><a asp-area="Admin" asp-controller="AdminMedidas" asp-action="Index"><i class="fa fa-thermometer"></i> <span>Unidades de Medidas</span></a></li>
<li ><a asp-area="Admin" asp-controller="AdminReceitas" asp-action="Index"><i class="fa fa-file-text"></i> <span>Receitas</span></a></li>
<li ><a asp-area="Admin" asp-controller="AdminImagens" asp-action="Index"><i class="fa fa-camera"></i> <span>Gerenciamento de Imagens</span></a></li>
</ul>