@model IEnumerable<desafio_mvc.Models.Ingrediente>

@{
    Layout = "_LayoutAdmin";
}

<h1 class="text-title">Ingredientes</h1><br>
<button class="button-beat">
    <a asp-area="Admin" asp-controller="AdminIngredientes" asp-action="Create" style="color: white;">
        <span class="text">Adicionar Novo Ingrediente</span>
    </a>
</button><br><br>
<script>
    $(document).ready(function () {
        $('#ingredientes').DataTable({
            "language":{
                "lengthMenu": "Mostrando _MENU_ registros por página",
                "zeroRecords": "Desculpa, Nada encontrado.",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhum registro disponível",
                "search":         "Buscar:",
                "paginate": {
                    "first":      "Primeiro",
                    "last":       "Último",
                    "next":       "Próximo",
                    "previous":   "Anterior"
                }
            }
        });
    });
</script>
<table id="ingredientes" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Unidade de Medida</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ingrediente in Model)
        {
            <tr>
                <td>@ingrediente.IngredienteId</td>
                <td>@ingrediente.Nome</td>
                <td>@ingrediente.UnidadeDeMedida.Simbolo</td>
                <td><a class="btn btn-primary" href="/Admin/AdminIngredientes/Edit/@ingrediente.IngredienteId">Editar</a> 
                <form asp-area="Admin" asp-action="Delete" asp-controller="AdminIngredientes" style="display: inline;">
                    <input type="hidden" name="id" id="id" value="@ingrediente.IngredienteId">
                    <button class="btn btn-danger" onclick="return confirm('Deseja realmente deletar?')">Deletar</button>
                </form>
                </td>
            </tr>
        }
    </tbody>
</table>